body {
    margin: 0;
    background: rgb(160, 180, 223);
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

#upper-div {
    position: relative;
    height: 300px;
    background: linear-gradient( rgb(3, 39, 116), rgb(160, 180, 223));
    border-radius: 3px;
    color: white;
}

.button {
    color: black;
}

.button-torles {
    color: black;
}

.movie {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 10px;
}

.movie:nth-of-type(4n+5) {
    clear: both;
}

img.character-img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px;
    margin-bottom: 5px;
}

img.cover-img {
    box-shadow: 0px 0px 10px 5px;
    margin-bottom: 5px;
}